.chat-list-page {
  display: flex;
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  .column-left {
    display: flex;
    min-width: 18rem;
    max-width: calc(1680px / 4);
    flex-direction: column;
    flex: 1 1 auto;
  }
  .column-right {
    background-color:#e6ebee;
    display: flex;
    flex: 3;
  }
}
