.contact {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-radius: 10px;
    align-items: flex-start;
    position: relative;
    cursor: pointer;
    padding: 0.5625rem;
    overflow: hidden;
  }